.bodyBackground {
    background: linear-gradient(345.12deg, theme('colors.reallyLight') 2.39%, theme('colors.white') 99.58%);
}

.backgroundShadow {
    position: absolute;
    width: 100vw;
    height: 75vw;
    background: linear-gradient(37deg, transparent 50%, theme('colors.reallyLight'));
    z-index: -50;
}